/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.vscode/*
/backend/node_modules/
/backend/.env
/frontend/.env.local
/.env.production
/.env.production.local
/dist/deployment/
/terraform/backend.hcl
/terraform/environments/*.tfvars
